@page
@model RecruitCatPawarah.Pages.OurTeamModel
@{
}
<html>
<head>
    <title>RecruitCatPawarah</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <blockquote class="blockquote text-center mb-5 mt-4">
        <p><h3>--- Our Team ---</h3></p>
    </blockquote>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/img/myimg.jpg" height="250px"alt="img1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Abhishek Singh Pawar</h5>
                                <p class="card-text">Joined University of Cincinnati, MS-IS Fall 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/img/boy2.png" height="250px" alt="img2">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ricky John</h5>
                                <p class="card-text">Business admin with 20 years of experience in market and industryu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/img/per1.png" alt="img3">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Adam James</h5>
                                <p class="card-text">Practiced law for 8 years in civil court. He is best suiteed for clients looking to build a career in law firms</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/img/per2.jpg" alt="Card image cap">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Michael Joey</h5>
                                <p class="card-text">Technical wizard who knows how to be in the right place at the right time</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>